@import "./fonts.css";
@import "./global.css";
@import "./utils.css";

body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.text-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.title-h1 {
    font-size: 64px;
    color: #1F3F68;
}

.title-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.title-h3 {
    font-size: 36px;
    text-align: center;
}

.title-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    padding: 10px 14px;
    font-family: inherit;
    font-size: 16px;
}

.btn-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;

    border: none;
    padding: 12px 40px;
    cursor: pointer;
    display: inline-block;
}

.contact-section {
    padding: 60px 0;
}

.contact-form-wrapper {
    background: url('../img/helloworld.png') no-repeat center center;
    background-size: cover;
    padding: 40px;
    border-radius: 10px;
}

.breadcrumbs {
  margin: 20px 0;
  width: fit-content;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background: linear-gradient(to bottom, #d9f0f0, #0f6161);
  border-radius: 6px;
  overflow: hidden;
}

.breadcrumbs li {
  position: relative;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  white-space: nowrap;
}

.breadcrumbs li + li {
  margin-left: -18px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  bottom: 6px;
  width: 14px;
  border-left: 2px solid white;
  border-radius: 0 40px 40px 0;
  box-shadow: -2px 0 4px rgba(0,0,0,0.25);
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
